---
import { Icon } from 'astro-icon/components'
import data from '../data/reviews.json'
---

<section class="review-wrapper blur">
    <div class="review-containers container-xs">
        <button class="review-btn grid-sm review-btn--prev" id="prev" aria-lable="Previous Review">
            <Icon name="chevron-left" width={50} height={50} />
        </button>
        <button class="review-btn grid-sm review-btn--next" id="next" aria-lable="Next Review">
            <Icon name="chevron-right" width={50} height={50} />
        </button>

    </div>
      



    <!-- <h2 class="sr-only">Reviews</h2>
    {
        data.map(review => (
            <div class="review">
                <img src={review.avatar} alt="">
                <h3>{review.name}</h3>
                
                <p class="text-muted">{review.content}</p>
            </div>
        ))
    } -->
</section>

<script src="../js/reviews.js"></script>


